$page_color:#09090D;
$blue_color:#ffffff;
$bold_poppins:boldpoppins;
$white_color:#e1efe6;
$black_ligtened:lighten(#09090D,6);
$green:#009999;
$roboto_regular:regularroboto;
$poppins_regular:regularpoppins;
$poppins_thin:thinpoppins;
$poppins_light:lightpoppins;
$poppins_black:blackpoppins;
$evolve_regular:evolveregular;

//graphik font variables
$graphikblack:graphikblack;
$graphikbold:graphikbold;
$graphikextralight:graphikextralight;
$graphiklight:graphiklight;
$graphikmedium:graphikmedium;
$graphikregular:graphikregular;
$graphiksemibold:graphiksemibold;
$graphiksuper:graphiksuper;
$graphikthin:graphikthin;

$gray_color:#fff;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider:(4/3);
$xd-width:1920;
$xd-height:1080;
$em-base:16;
$body-padding:37.5px;

