@font-face {
    font-family: boldpoppins;
    src: url("./Poppins-Bold.ttf");
}

@font-face {
    font-family: regularroboto;
    src: url("./Roboto-Regular.ttf");
}

@font-face {
    font-family: regularpoppins;
    src: url("./Poppins-Regular.ttf");
}

@font-face {
    font-family: thinpoppins;
    src: url("./Poppins-Thin.ttf");
}

@font-face {
    font-family: lightpoppins;
    src: url("./Poppins-Light.ttf");
}

@font-face {
    font-family: blackpoppins;
    src: url("./Poppins-Black.ttf");
}

@font-face {
    font-family: graphikblack;
    src: url("./GraphikBlack.otf");
}

@font-face {
    font-family: graphikbold;
    src: url("./GraphikBold.otf");
}

@font-face {
    font-family: graphikextralight;
    src: url("./GraphikExtralight.otf");
}

@font-face {
    font-family: graphiklight;
    src: url("./GraphikLight.otf");
}

@font-face {
    font-family: graphikmedium;
    src: url("./GraphikMedium.otf");
}

@font-face {
    font-family: graphikregular;
    src: url("./GraphikRegular.otf");
}

@font-face {
    font-family: graphiksemibold;
    src: url("./GraphikSemibold.otf");
}

@font-face {
    font-family: graphiksuper;
    src: url("./GraphikSuper.otf");
}

@font-face {
    font-family: graphikthin;
    src: url("./GraphikThin.otf");
}
